@supports(animation-timeline: view()){
  @keyframes fade-out {
    to {
      background-size: 150%;
      opacity: 0 !important;
    }
  }
  @keyframes zoom-out {
    to {
      font-size: 2rem;
      padding-left: .1em;
    }
  }
  @keyframes appear {
    to {
      opacity: 1;
    }
  }
  @keyframes max-out {
    to {
      max-width: 100%;
    }
  }
  .myHero {
    animation: fade-out linear both;
    animation-timeline: view();
    animation-range: exit -100px;
  }
  nav {
    animation: max-out linear both;
    animation-timeline: view();
    animation-range-start: 80vh;
    animation-range-end: 100vh;
  }
  nav:after {
    animation: appear linear both;
    animation-timeline: view();
    animation-range-start: 60vh;
    animation-range-end: 100vh;
  }
  .myLogo {
    animation: zoom-out linear both;
    animation-timeline: view();
    animation-range-start: 10vh;
    animation-range-end: 100vh;
  }
}
@supports(not(animation-timeline: view())) {
  .notice:after {
    content: ' animation-timeline of scroll and view are currently not supported in your browser.';
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..700&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  background-color: #1f2020 !important;
  color: #F9F6EF !important;
  height: auto !important;
  overflow: auto; /* ou overflow: scroll; */
}
.myHero, nav, main {
  max-width: 75ch;
  margin: 0 auto;
  padding-inline: 1em;
}
h1, h2, h3 {
  font-family: "Honk", system-ui;
  text-wrap: balance;
  line-height: .8;
}
p {
  text-wrap: pretty;
  line-height: 1.5;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 3rem;
  background-color: #1f2020d0;
  backdrop-filter: blur(.2em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  ul {
    padding-right: 1em;
    margin: 0;
    display: inline-flex;
    gap: 1rem;
    li {
      list-style: none;
      display: inline-block;
      cursor: pointer;
      transition: .5s linear;
      &:hover {
        text-decoration: underline #5EB0E5;
      }
    }
  }
}
.myHero {
  min-height: 60vh;
  background-image:
    url("https://lh3.googleusercontent.com/pw/AP1GczMVqvqi3dkm6o_AGHLZeX41cfgcdGHU-M7FV6-mvDI0kknkNoKToCmNwpcjsQofkyu7tAQpySuGgL6WzRqrFUoBZBgCN-kotIuC5WV7wL7tX1R0RemmPlWgSsK1X91iduYUQghmFjztOPKIK7eKPg=w1648-h927-s-no-gm?authuser=1");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  mix-blend-mode: lighten;
  display: grid;
  align-content: center;
  container-type: inline-size;
  h1 {
    font-size: clamp(2rem, 7cqi, 10rem);
    font-weight: 100;
    max-width: 50%;
    color: hsl(276 84%, 68%);
  }
  .btn {
    display: inline;
    position: relative;
    padding: .5em 1em;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      inset: 0;
      background: //fallback
        linear-gradient(45deg,
            hsl(0, 100%, 70%),
            hsl(30, 100%, 70%),
            hsl(60, 100%, 70%),
            hsl(90, 100%, 70%),
            hsl(120, 100%, 70%),
            hsl(150, 100%, 70%),
            hsl(180, 100%, 70%),
            hsl(210, 100%, 70%),
            hsl(240, 100%, 70%),
            hsl(270, 100%, 70%),
            hsl(300, 100%, 70%),
            hsl(330, 100%, 70%),
            hsl(360, 100%, 70%)
          );
      background: linear-gradient(in hsl longer hue 45deg, #f66 0 0);
      z-index: -1;
      clip-path: polygon(90% 0, 100% 50%, 90% 99%, 0% 100%, 8% 50%, 0% 0%);
    }
    &:after {
      background: #1f2020;
      inset: 3px;
    }
  }
}
nav:after {
  content: '';
  position: absolute;
  opacity: 0;
  height: .05em;
  width: 100%;
  bottom: 0;
  background: //fallback
    linear-gradient(90deg,
        hsl(0, 100%, 70%),
        hsl(30, 100%, 70%),
        hsl(60, 100%, 70%),
        hsl(90, 100%, 70%),
        hsl(120, 100%, 70%),
        hsl(150, 100%, 70%),
        hsl(180, 100%, 70%),
        hsl(210, 100%, 70%),
        hsl(240, 100%, 70%),
        hsl(270, 100%, 70%),
        hsl(300, 100%, 70%),
        hsl(330, 100%, 70%),
        hsl(360, 100%, 70%)
      );
  background: linear-gradient(in hsl longer hue 90deg, #f66 0 0);
}
.myLogo {
  font-weight: 900;
  font-size: 10cqi;
  background: //fallback
      linear-gradient(45deg,
          hsl(0, 100%, 70%),
          hsl(30, 100%, 70%),
          hsl(60, 100%, 70%),
          hsl(90, 100%, 70%),
          hsl(120, 100%, 70%),
          hsl(150, 100%, 70%),
          hsl(180, 100%, 70%),
          hsl(210, 100%, 70%),
          hsl(240, 100%, 70%),
          hsl(270, 100%, 70%),
          hsl(300, 100%, 70%),
          hsl(330, 100%, 70%),
          hsl(360, 100%, 70%)
        );
  background: linear-gradient(in hsl longer hue 40deg, #f66 0 0);
  background-clip: text;
  color: #0000;
}

.logoRodape img {
    width: 150px; /* Ajuste o tamanho do logotipo conforme necessário */
}

footer {
    background: linear-gradient(to bottom, #1f2020, #bc69f2); /* Define o degradê de preto para lilás */
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* Mantenha as regras existentes que não precisam de alterações */

.container {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ffd60a;
  background-color: #403d39;
}

.container-form {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #bc69f2;
  background-color: #403d39;
}

.containerRoadmap {
  max-width: 1320px;
  min-height: 0;
  height: auto !important;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ffd60a;
  max-height: 100vh; /* Defina uma altura máxima conforme necessário */
  }




nav {
    flex-grow: 1; /* Ocupa todo o espaço disponível */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza os itens do menu */
    padding: 0; /* Remova o preenchimento padrão */
}

nav li {
    margin-right: 10px;
}

nav li:last-child {
    margin-right: 10; /* margem direita do último item */
}

.label, input, button {
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 8px /* Adiciona bordas arredondadas */
    }

input {
  font-size: 16px; /* Ajuste o tamanho da fonte conforme desejado */
}

input {
  width: 80%; /* Define a largura para ocupar toda a largura do container pai */
  height: 30px; /* Ajuste a altura conforme desejado */
  padding: 10px; /* Adiciona um preenchimento interno para melhorar a aparência */
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box; /* Garante que a largura inclua o padding e a borda */
}
button {
  font-size: 16px; /* Ajuste o tamanho da fonte conforme desejado */
  padding: 10px 20px; /* Adiciona preenchimento interno para melhorar a aparência */
  border: none; /* Remove a borda */
  border-radius: 4px; /* Adiciona cantos arredondados */
  background-color: #bc69f2; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  cursor: pointer; /* Altera o cursor ao passar por cima */
  transition: background-color 0.3s; /* Adiciona uma transição suave de cor de fundo */
}

button:hover {
  background-color: #7209b7; /* Cor de fundo ao passar o mouse */
}


nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Honk", system-ui; /* Aplica a fonte Arturo Outline. Se desejar usar a fonte "Lemonada", basta substituir 'Arturo Outline', sans-serif por 'Lemonada', cursive e vice versa .*/
    font-size: 20px; /* Define o tamanho da fonte */
    position: relative; /* Para animação */
}

nav a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

nav a:hover {
    color: #e0aaff; /* Cor ao passar o mouse */
}

/* Abaixo a estilização do roadmap */
#infographic .roadmapCircle {
   width: 320px;
   height: 320px;
   border-radius: 50%;
   border: 7px double;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 40px;
   position: absolute;
   left: 50%;
   margin: 40px 0;
}
#infographic section:nth-child(odd) .roadmapCircle {
   transform: translateX(-100%);
}

#infographic article {
   max-width: 410px;
   margin-bottom: 20px;
   cursor: pointer;
   left: 50%;
   position: relative;
}
#infographic article header {
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
}
#infographic article header i {
   display: flex;
   font-size: 2em;
   border-radius: 50%;
   background-clip: padding-box;
   padding: 14px;
   transition: transform 0.4s;
   color: #fff;
   border: 16px solid var(--bs-dark);
   margin: -16px 0 -16px -20px;
}
#infographic article:hover header i {
   transform: scale(1.2);
}
#infographic article.active header i {
   transform: none;
}

#infographic article .roadmapBody {
   background: var(--bgColor);
   padding: 0 20px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   max-height: 0;
   transition: max-height 0.5s, padding 0.5s;
   overflow: hidden;
}
#infographic article .roadmapBody .roadmapBtn {
   padding: 3px 10px;
   text-transform: uppercase;
}
#infographic :nth-child(even) article {
   text-align: right;
   transform: translateX(-100%);
}
#infographic :nth-child(even) article header {
   flex-flow: row-reverse;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}
#infographic :nth-child(even) article header i {
   margin: -16px -20px -16px 0;
}

#infographic section:nth-child(odd) article.active header {
   border-bottom-right-radius: 0;
}
#infographic section:nth-child(even) article.active header {
   border-bottom-left-radius: 0;
}

#infographic article.active .roadmapBody {
   padding: 20px;
   max-height: 300px;
   border: 1px solid;
}

/* 
   Articles Positioning
   Uncomment these for debugging article positions
*/
/*#infographic .circle {
   outline: 96px solid yellow;
}
#infographic article header i {
   opacity: 0.5;
   position: relative;
}
#infographic article header i:after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 4px;
   height: 4px;
   transform: translate(-2px, -2px);
   background: blue;
}*/

#infographic article[data-step="1"] {
   margin-left: 6px;
}
#infographic article[data-step="2"] {
   margin-left: 54px;
}
#infographic article[data-step="3"] {
   margin-left: 71px;
}
#infographic article[data-step="4"] {
   margin-left: 61px;
}
#infographic article[data-step="5"] {
   margin-left: 22px;
}
#infographic article[data-step="6"] {
   margin-left: -5px;
}
#infographic article[data-step="7"] {
   margin-left: -54px;
}
#infographic article[data-step="8"] {
   margin-left: -70px;
}
#infographic article[data-step="9"] {
   margin-left: -60px;
}
#infographic article[data-step="10"] {
   margin-left: -21px;
}
#infographic article[data-step="11"] {
   margin-left: 7px;
}
#infographic article[data-step="12"] {
   margin-left: 55px;
}
#infographic article[data-step="13"] {
   margin-left: 73px;
}
#infographic article[data-step="14"] {
   margin-left: 62px;
}
#infographic article[data-step="15"] {
   margin-left: 23px;
}
#infographic article[data-step="16"] {
   margin-left: -102px;
}
