/* Base */
html, body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  /* Anteriormente ---> font-family: "Inter", sans-serif; */
  background-color: #131313;
  color: #fff;
}

/* Container principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Ajuste no container principal para compensar a navegação fixa */
.wrapper {
  padding-top: 100px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Navegação */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 151px;
  height: auto;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  color: white;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 10px 15px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item:hover {
  color: #E730CA;
}

.menu-item:active {
  color: #E730CA;
}


/* Popups */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(80vw, 1000px);
  height: min(80vh, 800px);
  padding: 20px;
  background: rgba(133, 133, 133, 0.2);
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  backdrop-filter: blur(10px);
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 15px 20px;
  font-size: 1.2rem;
}

.popup-body {
  padding: 0 20px;
}

/* Roadmap */
.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmapCircle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px double;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#infographic section:nth-child(odd) .roadmapCircle {
  transform: translateX(-100%);
}

#infographic article {
  max-width: 410px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

#infographic article header {
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #2c2c2c;
}

#infographic article header i {
  font-size: 2em;
  background-clip: padding-box;
  border-radius: 50%;
  padding: 14px;
  margin: -16px 0 -16px -20px;
  border: 16px solid #2c2c2c;
  color: #fff;
  transition: transform 0.4s;
}

#infographic article:hover header i {
  transform: scale(1.2);
}

#infographic article .roadmapBody {
  background: #1c1c1c;
  padding: 0 20px;
  border-radius: 0 0 30px 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

#infographic article.active .roadmapBody {
  padding: 20px;
  max-height: 700px;
}

#infographic article .roadmapBtn {
  padding: 3px 10px;
  text-transform: uppercase;
  background-color: #e730ca;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
}

#infographic :nth-child(even) article {
  text-align: right;
  transform: translateX(-100%);
}

#infographic :nth-child(even) article header {
  flex-flow: row-reverse;
}

/* Scrollbar para o popup */
.popup-container::-webkit-scrollbar {
  width: 0.7rem;
}

.popup-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375rem rgb(79, 78, 78);
  border-radius: 0.8rem;
}

.popup-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.375rem rgba(238, 238, 238, 0.9);
  outline: none;
  border-radius: 0.8rem;
}

/* Animações */
@keyframes openPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Outros estilos para ajuste de layout */

/* Estilo do Menu */
.menu-item {
  position: relative;
  padding: 10px 15px;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
}

.menu-item:hover {
  color: #E730CA;
}

.group .absolute {
  display: none;
}

.group:hover .absolute {
  display: block;
}

.absolute {
  position: absolute;
  left: 0;
  background-color: #131313;
  z-index: 1000;
  min-width: 150px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.absolute a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.absolute a:hover {
  background-color: #E730CA;
}
